[http]
  sslVerify = true

[user]
  name = Juan Villela
  email = juan@villela.co

[color]
  ui = true

[core]
  excludesfile = ~/.gitignore_global
  editor = vim

[diff]
  tool = vimdiff

[merge]
  tool = vimdiff
  conflictstyle = diff3

[mergetool]
  keepBackup = false
  prompt = false

[commit]
  gpgsign = true

[gpg]
  program = gpg

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
