[http]
  sslVerify = true

[user]
  name = Juan Villela
  email = juan@villela.co
  signingkey = 3151EBD8B9970BBE034C39BF57A7B910713E6772

[color]
  ui = true

[log]
  decorate = auto

[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  pager = delta --plus-color="#50fa7b" --minus-color="#ff80bf" --theme='Dracula'

[diff]
  tool = vimdiff

[merge]
  tool = vimdiff
  conflictstyle = diff3

[mergetool]
  keepBackup = true
  prompt = false

[commit]
  gpgsign = true

[gpg]
	program = /usr/local/bin/gpg

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[interactive]
  diffFilter = delta --color-only

[push]
  default = current
