.DS_Store
.env
homedir/.vim/autoload
homedir/.vim/plugged
homedir/.vim/sessions
homedir/.config/coc/extensions/node_modules
homedir/.config/gh/hosts.yml
homedir/.config/gh/state.yml
homedir/.config/configstore
homedir/.config/gatsby/sites
homedir/.config/gatsby/events.json
homedir/.config/sheldon/repos
homedir/.config/rclone
homedir/.config/sheldon/plugins.lock