.DS_Store
.env
.idea
homedir/.config/alacritty/dracula
homedir/.config/coc/extensions/node_modules
homedir/.config/configstore
homedir/.config/database
homedir/.config/gatsby/events.json
homedir/.config/gatsby/sites
homedir/.config/gh/hosts.yml
homedir/.config/gh/state.yml
homedir/.config/github-copilot/hosts.json
homedir/.config/lvim/plugin/packer_compiled.lua
homedir/.config/nvim/.github
homedir/.config/raycast
homedir/.config/rclone
homedir/.config/sheldon/plugins.lock
homedir/.config/sheldon/repos
homedir/.config/starship/dracula
homedir/.config/storage
homedir/.config/stump/data
homedir/.config/stump/Stump.log
homedir/.containers/database
homedir/.containers/storage
homedir/.vim/autoload
homedir/.vim/plugged
homedir/.vim/sessions
homedir/.config/github-copilot
homedir/.config/homebridge
homedir/.config/audiobookshelf
homedir/.config/helix/runtime/grammars
Caddyfile
.vscode