.DS_Store
homedir/.vim/autoload
homedir/.vim/plugged
homedir/.vim/sessions
homedir/.config/coc/extensions/node_modules
homedir/.config/gh/hosts.yml
homedir/.config/gh/state.yml
homedir/.config/configstore
homedir/.config/gatsby/sites