<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>02DE36DB-0F5B-4B1D-9B25-FA9CC27F6E4B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B7D60F7-18F3-495C-84E4-2CD9C0A7FFBF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Space-Maria</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Zoom Dev Chat</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.apple.Safari</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://us02web.zoom.us/j/82346047649?pwd=YXVjUURKNHQyckk1R2Z3TFdlTHVMUT09</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5B7D60F7-18F3-495C-84E4-2CD9C0A7FFBF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dev chat</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Dev Channel</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>02DE36DB-0F5B-4B1D-9B25-FA9CC27F6E4B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>02DE36DB-0F5B-4B1D-9B25-FA9CC27F6E4B</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>5B7D60F7-18F3-495C-84E4-2CD9C0A7FFBF</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
