[Unit]
Description=Generate a list of files and save it to a local DB
RefuseManualStart=no
RefuseManualStop=no

[Timer]
OnCalendar=daily
Unit=gen-files-list.service

[Install]
WantedBy=timers.target
