[Unit]
Description=Generate checksums for media files

[Service]
Type=simple
WorkingDirectory=/media
ExecStart=/usr/bin/sh %h/.scripts/genChecksums.sh &> %h/genChecksums.log
Type=oneshot

[Install]
WantedBy=multi-user.target
