[Unit]
Description=Generate checksums for media files
RefuseManualStart=no
RefuseManualStop=no

[Timer]
OnCalendar=hourly
Unit=gen-checksums.service

[Install]
WantedBy=timers.target
