[Unit]
Description=Unzip all compressed folders from the given directory

[Service]
Type=simple
ExecStart=/usr/bin/sh %h/.scripts/unzip.sh &> %h/unzip.log
Type=oneshot

[Install]
WantedBy=multi-user.target