[http]
  sslVerify = true

[user]
	name = Juan Villela
	email = juan@villela.co
	signingkey = 6BF733DA54F3B8EB

[github]
  user = fourjuaneight

[color]
  ui = true

[log]
  decorate = auto

[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  pager = delta

[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
  plus-color = syntax "#50fa7b"
  minus-color = normal "#ff80bf"
  syntax-theme = Dracula

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none

[interactive]
  diffFilter = delta --color-only

[diff]
  tool = vimdiff
  colorMoved = zebra

[merge]
  tool = vimdiff
  conflictstyle = diff3

[mergetool]
  keepBackup = true
  prompt = false

[commit]
  gpgsign = true

[fetch]
  prune = true

[pull]
  rebase = true

[push]
  default = current

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[interactive]
  diffFilter = delta --color-only

[gpg]
  program = /opt/homebrew/bin/gpg

[sequence]
  editor = interactive-rebase-tool
